<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{height: '50vw', width: '50vw'}">
  <ng-template pTemplate="header">
    <h3>{{ equip_name }}</h3>
  </ng-template>

  <div class="field">
    <label for="event_type" class="block">Событие</label>
    <p-dropdown id="event_type"
      [formControl]="form_event_type"
      [options]="eventTypes"
      [optionLabel]="'name'"
      [optionValue]="'event_type_id'">
    </p-dropdown>
  </div>
  <!-- [options]="cities"
    [(ngModel)]="selectedCity" -->

  <p-calendar>

  </p-calendar>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="close()"
      label="Ok"
      styleClass="p-button-primary"></p-button>
  </ng-template>
</p-dialog>